div#header {
    text-align: center;
    overflow: visible;
    width: 100%;
}

body {
    background-color: #070744;
}

div#container {
    display: block;
    margin: 0 auto;
    width: 80%;
    background-color: white;
    overflow: auto;
    padding-top: 14px;
}

div#container h1 {
    font-family: Calligraph421 BT;
    color: rgb(153, 0, 0);
}

div#left-content {
    width: 50%;
    float: left;
    white-space: nowrap;
}

div#left-content table {
    width: 100%;
}

div#left-content span {
    line-height: 50%;
}

#twitter {
    min-height: 25em;
}

div#right-content {
    width: 50%;
    float: right;
    overflow: visible;
}

div#right-content img{
    width: 100%;
    height: 100%;
}

footer {
    float: left;
    width: 100%;
    height: 100px;
    padding-bottom: 14px;
}

footer div#left {
    float: left;
    text-align: center;
    height: 100%;
}

footer div#right {
    text-align: right;
}

footer span {
    display: inline-block;
    height: 50%;
}

footer p {
    margin: 1em;
}

.footer-logo {
    width: 75px;
    height: 75px;
    background-color: black;
    position: relative;
    vertical-align: middle;
}

.img-circle {
    border-radius: 50%;
}

.surrounding-background{
    background-color: #f3f3f3;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    border: 1px solid #e7e7e7;
    white-space: nowrap;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a.active {
    color: white;
    background-color: #4CAF50;
}

.no-bullets {
    list-style-type: none;
}